table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#moon {
  margin-top: -400px;
  margin-left: -800px;
  position: absolute;
  z-index: -1;
}
