@media (max-width: 1000px) {
  body {
    font-size: 0.5em;
  }
  /*NAVBAR*/
  /*grid templete setup:*/
  #navbar {
    grid-template-columns: 1fr 135px 80px 70px 150px 1fr 110px 1fr;
    height: 85px;
  }
  /* text formatering: */
  #navbar > *:not(:first-child) {
    margin-top: 55px;
  }
  #logoDiv {
    margin-top: 8px;
    height: 68px;
  }
  #logoDiv:hover > #lb {
    margin-top: -68px;
  }
  /*FOOTER*/
  #footer {
    grid-template-columns: 1fr 100px 240px 180px 150px 1fr;
    height: 200px;
  }
  /*GRID*/
  .grid4 {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .grid4 > .e1 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .grid4 > .e2 {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .grid4 > .e3 {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .grid4 > .e4 {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .grid6 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .grid6 > .e1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .grid6 > .e2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .grid6 > .e3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .grid6 > .e4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .grid6 > .e5 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .grid6 > .e6 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .sponge > p {
    max-width: 68vw;
  }
}
