body {
  background-color: rgb(40, 40, 40);
  color: rgb(230, 230, 230);
  font-family: "Verdana", "Courier New", Courier, monospace;
  margin: 0;
  overflow-x: hidden;
}

/*NAVBAR*/
#navbar {
  /*grid templete setup:*/
  display: grid;
  grid-template-columns: 1fr 200px 180px 200px 390px 1fr 260px 1fr;
  height: 140px;
  /* navbarens underste linje: */
  background-image: linear-gradient(white, white);
  background-size: 85% 1px;
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}
/* text formatering: */
#navbar > a > h1 {
  text-decoration: none;
  color: white;
  margin-top: 85px;
  float: right;
}
/* fancy underline: */
#navbar > a:not(:last-child) > h1 {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0px 2px;
  background-position: 100% 100%;
  transition: background-size 0.5s;
}
#navbar > a:not(:last-child) > h1:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
  transition: background-size 0.5s;
}
/* logo formatering: */
#navbar img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
/* grid plassering: */
#logoa {
  grid-column-start: 2;
}
#støtt {
  grid-column-start: 7;
  position: relative;
}
/*fancy drop down meny: */
#støtt > h1 {
  background-image: linear-gradient(90deg, white 1%, rgb(40, 40, 40) 1%);
  background-size: 100% 0;
  background-repeat: no-repeat;
  padding-left: 8px;
  position: absolute;

  transition: background-size 0.3s;
  transition-delay: 0.2s;
}
#støtt > h1 > a > h1 {
  font-size: inherit;
  color: white;
  float: left;
  margin: 0;

  opacity: 0;
  transition: opacity 0.3s linear;
}
#støtt > h1:hover {
  background-size: 100% 100%;
  transition: background-size 0.3s;
}
#støtt > h1:hover > a > h1 {
  opacity: 1;
  transition: opacity 0.6s linear;
  transition-delay: 0.1s;
}
/*NAVBAR SLUTT*/

/*FOOTER*/
#footer {
  /*footer linje*/
  background-image: linear-gradient(white, white);
  background-size: 85% 1px;
  background-position-x: center;
  background-position-y: 0;
  background-repeat: no-repeat;
  /*grid oppset:*/
  display: grid;
  grid-template-columns: 1fr 180px 400px 300px 200px 1fr;
  height: 300px;
}
/*div og text formatering:*/
#footer > div {
  margin: auto;
  margin-top: 20px;
}
#footer > div > p > a {
  text-decoration: none;
  color: white;
}
/*fancy underlines for linkene*/
#t3 > p {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0px 1px;
  background-position: 100% 100%;
  transition: background-size 0.5s;
}
#t3 > p:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
  transition: background-size 0.5s;
}
/*bilde formatering og grid plasering:*/
#logof {
  grid-column-start: 2;
  width: 100%;
  margin-top: 40px;
}
/*FOOTER SLUTT*/

/*LITE VINDU*/
@media (max-width: 1400px) {
  main {
    min-width: 80%;
  }
  /*NAVBAR*/
  /*grid templete setup:*/
  #navbar {
    grid-template-columns: 1fr 150px 130px 140px 280px 1fr 190px 1fr;
    height: 105px;
    font-size: 0.8pc;
  }
  /* text formatering: */
  #navbar > a > h1 {
    margin-top: 65px;
  }
  /*FOOTER*/
  #footer {
    grid-template-columns: 1fr 100px 300px 200px 200px 1fr;
    height: 200px;
    font-size: 0.8pc;
  }
}
/*MOBIL VERSJON*/
@media (max-width: 950px) {
  main {
    min-width: 100%;
  }
  /*NAVBAR*/
  /*grid templete setup:*/
  #navbar {
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 30px 30px 30px;
    font-size: 0.5pc;
    height: 120px;

    background-size: 0;
  }
  /* text formatering: */
  #navbar > a > h1 {
    margin-top: 10px;
    float: left;
    white-space: nowrap;
  }
  /* grid plassering: */
  #navbar img {
    margin-top: 45px;
  }
  #logoa {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #n1 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  #n2 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 20%;
  }
  #n3 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 40%;
  }
  #støtt {
    grid-column-start: 2;
    grid-row-start: 4;
    margin-left: 60%;
  }
  /*FOOTER*/
  #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 140px 120px 130px;
  }
  #logof {
    display: none;
  }
  #t1 {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 350px;
  }
  #t2 {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 350px;
  }
  #t3 {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 350px;
  }
}
/*ANDRE STØRRELSER SLUTT*/

/* MAIN OG SECTION, skalering og margin mellom*/
main {
  width: 70%;
  margin: auto;
}
section {
  margin-bottom: 100px;
  margin-top: 100px;
}
.column33 {
  float: left;
  width: 33.333%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*universal avsnitt*/
.avsnitt {
  width: 100%;
  margin: auto;
  border: 3px double white;
  padding: 10px;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 1.5em;
}

/*universal sentrert overskrift*/
.header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

#gif {
  width: 100%;
  border: 5px double white;
  border-radius: 5px;
}
.politiker {
  border: 3px double white;
}
/* utvider portrettbildene på partiet.html */
.bilde {
  width: 100%;
}
/* tekst under portrettbildene*/
.bildetekst {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

/* bildebakgrunnn til p3_changes.html*/
#moon {
  margin-top: -400px;
  margin-left: -800px;
  position: absolute;
  z-index: -1;
}

/* css til slideshow */
.slideshow-container {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slideshow-slide {
  margin-top: -2px;
  display: grid;
  grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100%;
}

.slideshow-img {
  width: 100%;
  height: auto;
}

#prev {
  float: left;
  font-size: 50px;
  transition: color 0.4s ease;
  color: #a9a9a9;
  position: absolute;
  z-index: 10;
  margin-left: 5%;
  margin-top: 25%;
}
#next {
  float: right;
  font-size: 50px;
  transition: color 0.4s ease;
  color: #a9a9a9;
  position: absolute;
  z-index: 10;
  margin-left: 95%;
  margin-top: 25%;
}
#next:hover,
#prev:hover {
  transition: color 0.4s ease;
  color: white;
}

#tekst_paa_gif {
  position: absolute;
  z-index: 1;
  color: #121212;
  font-weight: bold;
  margin-left: 100px;
  width: 20%;
  height: auto;
  font-size: 1.5vw;
  margin-top: -20%;
  margin-left: 45%;
}
