body {
  background-color: rgb(40, 40, 40);
  color: rgb(230, 230, 230);
  font-family: "Verdana", "Courier New", Courier, monospace;
  margin: 0;
  overflow-x: hidden;
}

/*NAVBAR*/
#navbar {
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 200px 180px 200px 390px 1fr 260px 1fr;
  height: 140px;
  /* navbarens linje: */
  background-image: linear-gradient(white, white);
  background-size: 85% 1px;
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}
#navbar > a > h1 {
  /* text formatering: */
  text-decoration: none;
  color: white;
  margin-top: 85px;
  float: right;
}
#navbar > a:not(:last-child) > h1 {
  /* fancy underline: */
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0px 2px;
  background-position: 100% 100%;
  transition: background-size 0.5s;
}
#navbar > a:not(:last-child) > h1:hover {
  /* fancy underline: */
  background-size: 100% 2px;
  background-position: 0 100%;
  transition: background-size 0.5s;
}
#navbar img {
  /* logo formatering: */
  margin-top: 20px;
  width: 100%;
  height: auto;
}
/* grid plassering: */
#logoa {
  grid-column-start: 2;
}
#støtt {
  grid-column-start: 7;
  position: relative;
}
#støtt > h1 {
  background-image: linear-gradient(90deg, white 1%, rgb(40, 40, 40) 1%);
  background-size: 100% 0;
  background-repeat: no-repeat;

  padding-left: 8px;
  position: absolute;

  transition: background-size 0.3s;
  transition-delay: 0.2s;
}
#støtt > h1 > a > h1 {
  font-size: inherit;
  color: white;
  float: left;
  margin: 0;

  opacity: 0;
  transition: opacity 0.3s linear;
}
#støtt > h1:hover {
  background-size: 100% 100%;
  transition: background-size 0.3s;
}
#støtt > h1:hover > a > h1 {
  opacity: 1;
  transition: opacity 0.6s linear;
  transition-delay: 0.1s;
}
/* lite vindu versjon: */
@media (max-width: 1400px) {
  #navbar {
    grid-template-columns: 1fr 150px 130px 140px 280px 1fr 190px 1fr;
    height: 105px;
    font-size: 0.8pc;
  }
  #navbar > a > h1 {
    margin-top: 65px;
  }
}
/* mobil versjon: */
@media (max-width: 950px) {
  #navbar {
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 30px 30px 30px;
    font-size: 0.5pc;
    height: 120px;

    background-size: 0;
  }
  /* text formatering: */
  #navbar > a > h1 {
    margin-top: 15px;
    float: left;
    white-space: nowrap;
  }
  /* grid plassering: */
  #navbar img {
    margin-top: 45px;
  }
  #logoa {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #n1 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  #n2 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 20%;
  }
  #n3 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 40%;
  }
  #støtt {
    grid-column-start: 2;
    grid-row-start: 4;
    margin-left: 60%;
  }
}
/*NAVBAR SLUTT*/

.parent {
  height: 200px;
  width: 80%;
  margin: auto;
  display: flex;
}
.child1 {
  height: 200px;
  width: 200px;
  flex: 1;
}
.child2 {
  height: 200px;
  width: 200px;
  flex: 1;
}
.child3 {
  height: 200px;
  width: 200px;
  flex: 1;
}
.child4 {
  height: 200px;
  width: 200px;
  flex: 1;
}
.footer_link {
  text-decoration: none;
  color: #ffffff;
}
.footer_link:hover {
  text-decoration: none;
  color: #00ffff;
}

main {
  width: 70%;
  margin: auto;
}
section {
  margin-bottom: 100px;
  margin-top: 100px;
}
.column33 {
  float: left;
  width: 33.333%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.avsnitt {
  width: 100%;
  margin: auto;
  border: 3px double white;
  padding: 10px;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 1.5em;
}
.header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
#gif {
  width: 100%;
  border: 5px double white;
  border-radius: 5px;
}
.politiker {
  border: 3px double white;
}
.bilde {
  width: 100%;
}

.bildetekst {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

/* bildebakgrunnn til p3_changes.html*/
#moon {
  margin-top: -400px;
  margin-left: -800px;
  position: absolute;
  z-index: -1;
}

.slideshow-container {
  width: 635px;
  height: 340px;
  margin: auto;
  border: 5px double black;
  overflow: hidden;
}

.slideshow-slide {
  display: flex;
}

#prev {
  float: left;
  font-size: 50px;
  transition: color 0.4s ease;
  color: #a9a9a9;
  position: absolute;
  z-index: 10;
  margin-left: 10px;
  margin-top: 150px;
}

#next {
  float: right;
  font-size: 50px;
  transition: color 0.4s ease;
  color: #a9a9a9;
  position: absolute;
  z-index: 10;
  margin-left: 600px;
  margin-top: 150px;
}

#next:hover,
#prev:hover {
  transition: color 0.4s ease;
  color: white;
}
